body{
    width: 100%;
    height: auto;
    /*background-color: #0585FF;*/
    background-image: url("../images/GolfBackground.jpg");
    background-repeat: no-repeat;
}

.table{
    background-color: ghostwhite;
}

.container{
    padding: 20px;
    justify-content: space-between;
}


.page-header{
    margin: 20px;
    border: none;
}

.page-header a{
    color: blue;
    font-size: large;
    color: lightgray;
}

.page-header span{
    position: fixed;
    right: 10px;
    top: 50px;
}

#myBtn{
    display: flex;
    margin: 0 auto;
}

#front9{
    width: 150px;
    border-radius: 4px;
    background-color: white;
    display: flex;
}

#back9{
    width: auto;

}

#frontleft{

}

#frontright{
    display: flex;
}

#flexdiv {
    display: flex;
}

.column{

}

.holcol{
    border: 1px solid #CCC;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}

.modalbackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;

}

#getCourseContainer{
    position:relative;
    margin: 0 auto;
    width: 350px;
    background-image: url(../images/GolfTexture.jpg);
    height: 200px;
    border-radius: 150px;
}


#courseselect {
    position: absolute;
    top: 32%;
    left: 10%;
    height: 40px;
}
#chooseCourse{
    position: absolute;
    top: 60%;
    left: 34%;
}

.setupmodal{
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /*width: 100%; !* Full width *!*/
    /*height: 100%; !* Full height *!*/
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
    background: rgba(0,0,0,0.8);
    transition: opacity 400ms ease-in;
    pointer-events:none;
}

.setupmodal:target{
    opacity:1;
    pointer-events: auto;
}

.setupmodal > div{
    width:400px;
    position:relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;

}

#addPlayerContainer {
    display:none;
}
#addPlayerContainer .modal-dialog{
    width: 50%;
    margin: 0 auto;
    margin-top: 25%;
}

#addButtonContainer {
    display:none;
    position: fixed;
    left: 45%;
    top: 15%;
}

#addBtn{
    position: absolute;
    bottom: 15px;
    right: 15px;
}


#teeBoxes{
    background-color: #82b6c1;
}

#courseselect{
    margin-left: 10px;
}

.w3-teal{
    color: #fff;
}

#weather{
    bottom: 5%;
    left: 5%;
    position: absolute;
    color: white;
}
